* {
    margin: 0;
    padding: 0;
    /* outline: 2px solid #000; */
}

/* label {
    padding: 10%;
} */

/* input[type=checkbox]:checked ~ label{ */
input[type=checkbox]:checked~img {
    background-color: #f41f98;
}

input[type=radio]:checked~img {
    background-color: #390ec7;
}

input[type=checkbox] {
    display: none;
}

input[type=radio] {
    display: none;
}

input[type=button]:not([id="throw"]) {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-inline: auto;
    width: 100px;
    height: 50px;
}

img {
    width: 100px;
    height: 140px;
    object-fit: cover;
}

#answer img {
    padding: 5%;
}

#owncard img {
    padding: 5%;
}

span {
    font-size: 18px;
    display: block;
    text-align: center;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
}

.around {
    justify-content: space-around;
}

.column {
    flex-flow: column;
}

@media screen and (max-width: 480px) {
    img {
        width: 50px;
        height: 100px;
        object-fit: cover;
    }

    span {
        font-size: 12px;
    }
}